/* Stile generale */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

header {
    background-color: #b3e0cc; /* Verde chiaro */
    color: #333;
    padding: 1em 0;
    text-align: left;
    padding-left: 1em;
}

h1 {
    margin: 0;
    font-size: 2em;
}

main {
    padding: 2em;
}

section {
    margin-bottom: 2em;
}

h2 {
    color: #007bff;
    margin-bottom: 1em;
}

/* Stile delle tabelle */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table, th, td {
    border: 1px solid #dee2e6;
}

th, td {
    padding: 0.75em;
    text-align: left;
}

/* Intestazioni della tabella */
th {
    background-color: #d1f0d1; /* Verde chiarissimo */
    color: #495057;
    font-weight: bold;
}

tr:nth-child(odd) {
    background-color: #e6ffe6; /* Verde chiaro */
}

tr:nth-child(even) {
    background-color: #d1f0d1; /* Verde chiaro ma un po' più scuro della prima riga */
}

/* Colori per le colonne dalla terza in poi */
td:nth-child(-n+3) {
    background-color: #fff8c4; /* Giallo chiaro per le prime 3 colonne */
}

td:nth-child(n+4) {
    background-color: #cce7ff; /* Celeste chiaro per le altre colonne */
}

/* Colori link */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Responsività */
@media (max-width: 768px) {
    body {
        padding: 1em;
    }

    table {
        font-size: 0.9em;
    }

    th, td {
        padding: 0.5em;
    }
}
